<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <img src="/assets/images/balancas.png" alt="logo" />
        <span>Graphics Coordinates</span>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" routerLink="/transformation" routerLinkActive="active">
                Transformations
            </a>

            <a class="navbar-item" routerLink="/interpolation" routerLinkActive="active">
                Interpolation
            </a>

            <a class="navbar-item" routerLink="/draw" routerLinkActive="active">
                Draw
            </a>

            <a class="navbar-item" routerLink="/heart" routerLinkActive="active">
                Heartbeat
            </a>

            <a class="navbar-item" routerLink="/arnold" routerLinkActive="active">
                Arnold's Cat
            </a>

            <a class="navbar-item" routerLink="/fractal" routerLinkActive="active">
                Fractal Tree
            </a>
        </div>
    </div>
</nav>
