<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <img src="/assets/images/balancas.png" alt="logo" />
        <span class="is-size-2">Graphics Coordinates</span>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" routerLink="/transformation" routerLinkActive="active">
                Transformations
            </a>

            <a class="navbar-item" routerLink="/interpolation" routerLinkActive="active">
                Interpolation
            </a>

            <a class="navbar-item" routerLink="/draw" routerLinkActive="active">
                Draw
            </a>
        </div>
    </div>
</nav>
