<div>
    <form>
        <div class="world-coordinates">
            <h4>World Coordinates:</h4>
            <div>
                <div class="row">
                    <div class="input-coordinate">
                        <div class="coordinate">x</div>
                        <input type="number" placeholder="Min" />
                    </div>
                    <div class="input-coordinate">
                        <div class="coordinate">x</div>
                        <input type="number" placeholder="Max" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-coordinate">
                        <div class="coordinate">y</div>
                        <input type="number" placeholder="Min" />
                    </div>
                    <div class="input-coordinate">
                        <div class="coordinate">y</div>
                        <input type="number" placeholder="Max" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
