label {
    margin-right: 10px;
}

.row {
    display: flex;
}

.group {
    margin: 10px 0;
}

.action {
    display: flex;
    justify-content: center;

    button {
        background-color: white;
        border: 1px solid #dd1100;
        color: #dd1100;
        padding: 10px 20px;
        width: 125px;
        border-radius: 5px;
        font-weight: 500;

        &:hover {
            background-color: #ec561a;
            border: 1px solid #ec561a;
            color: white;
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
}

.normalized-device-coordinate {
    label {
        margin-left: 10px;
    }
}
