<div>
    <form>
        <div class="world-coordinates group">
            <h4 class="section-label">World Coordinates:</h4>
            <div>
                <div class="row">
                    <div class="input-coordinate">
                        <div class="coordinate">x</div>
                        <input type="number" placeholder="Min" />
                    </div>
                    <div class="input-coordinate">
                        <div class="coordinate">x</div>
                        <input type="number" placeholder="Max" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-coordinate">
                        <div class="coordinate">y</div>
                        <input type="number" placeholder="Min" />
                    </div>
                    <div class="input-coordinate">
                        <div class="coordinate">y</div>
                        <input type="number" placeholder="Max" />
                    </div>
                </div>
            </div>
        </div>
        <div class="device-coordinates group">
            <h4 class="section-label">Device Coordinates:</h4>
            <div class="row">
                <div class="input-coordinate">
                    <div class="coordinate">x</div>
                    <input type="number" placeholder="Width" />
                </div>
                <div class="input-coordinate">
                    <div class="coordinate">y</div>
                    <input type="number" placeholder="Height" />
                </div>
            </div>
        </div>
        <div class="point-coordinates group">
            <h4 class="section-label">Point Coordinates:</h4>
            <div class="row">
                <div class="input-coordinate">
                    <div class="coordinate">x</div>
                    <input type="number" placeholder="Value" />
                </div>
                <div class="input-coordinate">
                    <div class="coordinate">y</div>
                    <input type="number" placeholder="Value" />
                </div>
            </div>
        </div>
    </form>
</div>
