<div class="arnold">
    <span class="is-size-3">Arnold's Cat</span>

    <div class="image-input">
        <input
            type="file"
            id="file-upload"
            name="file-upload"
            accept="image/*"
            (change)="onFileUpload($event.target.files)"
        />
        <label for="file-upload">
            <img src="assets/images/upload.png" alt="upload" />
            Select an image
        </label>
    </div>

    <div class="image-interation" *ngIf="hasImage">
        <span class="is-size-5">Iteration: {{ iteration }}</span>

        <div class="buttons">
            <button (click)="onPreviousIteration()" [disabled]="isProcessingAutoIteration" class="button previous">
                <img src="assets/images/arrow.png" alt="upload" />
                Previous Iteration
            </button>

            <button (click)="onNextIteration()" [disabled]="isProcessingAutoIteration" class="button next">
                Next Iteration
                <img src="assets/images/arrow.png" alt="upload" />
            </button>
        </div>

        <app-canvas [cartesianLines]="false" [width]="imageWidth" [height]="imageHeight"></app-canvas>
    </div>
</div>
