.coordinates {
    margin-bottom: 30px;
    
    .row {
        margin: 10px;
    }

    h4 {
        font-weight: 600;
        line-height: 1.125;
        margin: 5px;
        margin-bottom: 30px;
    }
}

