<div class="app-container">
    <header>
        <img src="/assets/images/balancas.png" alt="logo" />
        <h1>
            <span class="primary-title">
                Graphics Coordinates
            </span>
            <span class="accent-title">
                Transformations
            </span>
        </h1>
    </header>

    <hr class="divider" />

    <div class="content">
        <div class="column">
            <app-input-coordinates></app-input-coordinates>
        </div>
        <div class="vertical-divider"></div>
        <div class="column">
            <p>{{ ndc | json }}</p>
            <p>{{ dc | json }}</p>
        </div>
    </div>
</div>
