<div class="app-container">
    <header>
        <img src="/assets/images/balancas.png" alt="logo" />
        <h1>
            <span class="primary-title is-size-2">
                Graphics Coordinates
            </span>
            <span class="accent-title is-size-2 has-text-weight-bold">
                Transformations
            </span>
        </h1>
    </header>

    <div class="container">
        <hr class="divider" />
        <nav class="level">
            <p class="level-item has-text-centered">
                <a class="link is-info" routerLink="/transformation">Transformations</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link is-info" routerLink="/coordinates">Coordinates</a>
            </p>
        </nav>

        <router-outlet></router-outlet>
    </div>
</div>
