.app-container {
    margin-top: 25px;

    header {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 52px;
            height: 52px;
            margin-right: 10px;
        }

        .primary-title {
            color: #dd1100;
        }

        .accent-title {
            color: #ff7d00;
        }
    }
}

nav {
    display: flex;
    align-content: center;
    justify-content: center;

    a {
        margin: 10px;
    }
}

.divider {
    width: 80%;
    border-top: 1px solid #ddd;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
