<div class="has-text-centered">
    <h1 class="is-size-3 title">Mouse Position Interpolation</h1>
    <h3 class="subtitle">
        Move your mouse on the <span class="orange">view port</span> in the right to see the coordinates transformation
        on the
        <span class="red">canvas.</span>
    </h3>
</div>
<div class="columns">
    <div class="column is-two-fifths">
        <app-interpolation-result></app-interpolation-result>
    </div>
    <div class="column">
        <app-canvas-view-port></app-canvas-view-port>
    </div>
</div>