.pm-inputs {
    .transform-btn {
        margin-top: 20px;

        button {
            width: 100%;
            height: 40px;
            color: #ec561a;
            background-color: white;
            border-radius: 5px;
            border: 1px solid #ec561a;

            &:hover {
                color: white;
                background-color: #ec561a;
            }
        }
    }
}

.group {
    margin: 15px 7px;
}

.input-coordinate {
    input {
        width: 100%;
    }

    .coordinate {
        width: 60px !important;
    }
}

.transformation-result {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .results {
        flex: 1;
        max-height: 200px;
        overflow-y: scroll;

        .result-table {
            border-collapse: collapse;
            margin-bottom: 20px;
            width: 100%;

            th,
            td {
                height: 40px;
                border: 1px solid #ff7d00;
                text-align: center;
            }

            th {
                background: #ff7d00;
                color: white;
                padding-top: 7px;
            }
        }
    }
}
