.transformation-result {
    display: flex;
    flex-wrap: wrap;

    .row {
        margin: 20px 5px;
    }
}

.result-table {
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 300px;

    th,
    td {
        border: 1px solid #ff7d00;
        text-align: center;
    }

    thead {
        th {
            color: white;
        }
    }

    thead,
    tfoot {
        background-color: #ff7d00;
        color: #fff;
    }
}

.math-table {
    display: flex;
    justify-content: center;

    td {
        text-align: center;
    }

    .bottom-line {
        border-bottom: 1px solid grey;
    }
}

.formula {
    font-style: italic;
    color: grey;

    hr {
        border-top: 1px solid #ff7d00;
    }

    p {
        padding: 0;
        margin: 0;
    }
}

.card {
    padding: 0;
    margin-bottom: 10px;
    border: 1px solid #ff7d00;
    text-align: center;

    h4 {
        padding: 0;
        margin: 0;
        color: white;
        background-color: #ff7d00;
        border-bottom: 1px solid #ff7d00;

        font-size: small;
    }
}
