<div class="columns">
    <div class="column is-two-fifths">
        <div class="columns">
            <div class="column">
                <div class="radio-toolbar">
                    <input type="radio" id="polynomial" name="algorithm" [(ngModel)]="algorithm" [value]="'polynomial'"
                        checked />
                    <label for="polynomial">Poly</label>

                    <input type="radio" id="trigonometric" name="algorithm" [(ngModel)]="algorithm"
                        [value]="'trigonometric'" />
                    <label for="trigonometric">Trig</label>

                    <input type="radio" id="pm" name="algorithm" [(ngModel)]="algorithm" [value]="'pm'" />
                    <label for="pm">P.M.</label>
                </div>
            </div>
            <div class="column">
                <button class="button" (click)="onCleanCanvasHandle()">CLEAN CANVAS</button>
            </div>
        </div>

        <hr />

        <div *ngIf="algorithm === 'polynomial'">
            <app-circle-poly-result (onDrawCircle)="onDrawCircleHandle($event)"></app-circle-poly-result>
        </div>

        <div *ngIf="algorithm === 'trigonometric'">
            <app-circle-trig-result (onDrawCircle)="onDrawCircleHandle($event)"></app-circle-trig-result>
        </div>

        <div *ngIf="algorithm === 'pm'">
            <app-circle-pm-result (onDrawCircle)="onDrawCircleHandle($event)"></app-circle-pm-result>
        </div>
    </div>
    <div class="column">
        <app-canvas [width]="canvasWidth" [height]="canvasHeight"
            (onMouseStartDrawing)="onMouseStartDrawingHandle($event)"
            (onMouseFinishDrawing)="onMouseFinishDrawingHandle()"></app-canvas>
    </div>
</div>
